{{> head }}
{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>MEAN</h1>
        <p>
            MEAN es desarrollo full-stack en JavaScript, es decir, es el conjunto de tecnologías necesarias para el desarrollo de todas las capas de una aplicación web con JavaScript. Está compuesto por cuatro de las más importantes tecnologías de la industria: MongoDB, Express, Angular y Node.js. Veamos de qué se trata cada una de estas tecnologías.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/mean.png" alt="20px" class="img-thumbnail">
    </div>

</div>


    {{> footer }}